[2016-10-27 21:54] hcschild opened #2 "Put mtr, ipg, etc links in <> brackets to suppress image preview."
Encapsulating links, files, etc into <> brackets seems to remove the preview in discord. The giant rules resources logo is not needed in every link to rules material.

[2016-10-28 20:53] bra1n opened #4 "Append a card image as a message attachment"
...instead of putting the URL to the image into the message.
This way, the message itself will be cleaner (no Gatherer image URL anymore!), plus the content is clearly separated and maybe can be filtered in Discord.

[2016-10-28 21:13] Flutscherino opened #5 "Events"
!event Location city land
event wherever

!event location 20km
Events around the location

!event location date
events around the date and location

!event type
what type of event. FNM. Game Day. GP.

[2016-10-28 21:15] Flutscherino opened #6 "Decklists"
Decklists form netstats or tappedout or i dont know where...

maybe with linked cards to magiccardsinfo.

[2016-10-28 21:20] Flutscherino opened #7 "Judges"
!Judge location
Shows you judge in a certain location and if the judge is in the chat highlights him?

!judge level
If you search for a certain level.

[2016-10-28 21:21] bra1n commented on #6
I think showing decklists would end up being either very spammy (showing up to 75 card names and links) or not very useful (showing only the deck name and a link to the deck. Or how did you envision they would be displayed in the chat?

[2016-10-28 21:23] Flutscherino opened #8 "Welcome Message"
title says it all? ^^

can be rules, announcements, whatever is going on..

[2016-10-28 21:38] Flutscherino opened #9 "Help"
!help
shows what the bot can do. all the possible commands and stuff :D

[2016-10-28 22:12] bra1n commented on #8
Not a big fan of welcome messages, they tend to become spammy very fast.

[2016-10-29 00:33] hcschild opened #11 "Create a parser to read only the rules text from magic judge rules resources"
Create a parser that converts the magic judge rules resources to readable text for discord.

[2016-10-29 00:50] hcschild commented on #11
#12 will implement this feature.

[2016-10-30 11:58] Mehtu opened #13 "Prevent the bot from finding incorrect results"
The command "!card Nix" finds a random Phoenix instead of the card Nix.

Ideas to solve this:
- If the bot finds multiple results, interpose a text comparison before the result is posted and if one card matches the query exactly, post that one.
- Prioritize results that start with the search query if no card matches it exactly.
- Prioritize results that contain the search query as a solitary word

[2016-10-30 12:05] Flutscherino commented on #8
Can you make it so he whispers the welcome message?

[2016-10-31 16:14] Flutscherino opened #14 "documents"
!docs (or documents)
will display the important docs ipg, mtr AND also like PPTQ requierments or GPT requierments for even a storeowner so any judge can easy find it.
(i just had to search it so this idea came to me :P )

[2016-11-02 11:09] Flutscherino opened #18 "Banlist"
!banlist format
would show the banned card in the format chosen.

[2016-11-02 19:41] bra1n commented on #13
Fixed with #16

[2016-11-02 19:41] #13 closed, assigned to bra1n

[2016-11-03 09:06] #4 closed, assigned to hgarus

[2016-11-03 10:44] bra1n opened #19 "Create aliases for IPG paragraphs"
`!ipg hce` -> `!ipg 2.3`
`!ipg mt` -> `!ipg 2.1`
etc.

[2016-11-04 17:13] bra1n commented on #19
Fixed.

[2016-11-04 17:13] #19 closed, assigned to nobody

[2016-11-04 17:13] bra1n commented on #9
Fixed.

[2016-11-04 17:13] #9 closed, assigned to nobody

[2016-11-04 17:13] bra1n commented on #2
Fixed.

[2016-11-04 17:13] #2 closed, assigned to nobody

[2016-11-06 20:10] bra1n opened #20 "!card stocking doesn't find Stocking Tiger"
Probably some part of the result (with/without image) magic breaks this.

[2016-11-06 21:03] hgarus commented on #20
Fixed by 262654b. Search was working fine, sending the response was broken for cards without image.

[2016-11-06 21:03] #20 closed, assigned to hgarus

[2016-11-06 21:04] bra1n commented on #20
Thanks!

[2016-11-06 21:37] bra1n opened #22 "Emojis don't always render correctly on mobile"
On some mobile clients, putting an Emoji command into a message will only render that emoji on the desktop version of Discord. Example: `:small_blue_diamond:`

[2016-11-06 21:42] bra1n commented on #22
Suggested fix: use Unicode instead (\u1F539   [\uD83D\uDD39] for small_blue_diamond)

[2016-11-06 23:10] hgarus opened #23 "Make !cr results more useful when querying for a "Headline Paragraph""
Some Paragraphs in the CR are basically just headlines (ie 702.15 Lifelink) currently the bot just responds `702.15 Lifelink` to a query for 702.15.

A result like:

[code]

would be much more useful.

[2016-11-08 22:02] bra1n opened #24 "!card: Handle a broken Gatherer page correctly"
When Gatherer is down, using !card will cause an UnhandledPromiseRejectionWarning in Discord.js that locks the bot from taking further commands. Needs to be investigated.

[2016-11-09 15:35] #24 closed, assigned to hgarus

[2016-11-09 15:41] hgarus opened #26 "!card fails on too long results"
If !card produces a result which is longer than discord's character limit of 2000, the command fails.

An example would be `!card ice`.

[2016-11-09 16:55] #26 closed, assigned to hgarus

[2016-11-14 11:46] bra1n opened #28 "!card: Show the available formats that a card is legal in"
Should probably be limited to Vintage, Legacy, Modern and Standard. (instead of every block-format)

[2016-11-15 20:15] hcschild commented on #28
And Commander?

[2016-11-15 20:22] bra1n commented on #28
Commander is not supported by the API. :(

[2016-11-15 21:20] hcschild commented on #28
It's listed in the legality array. :o

[2016-11-15 21:33] bra1n commented on #28
Oops, my bad. :nerd_face:

[2016-11-15 21:36] bra1n commented on #28
Looks good to me! Thanks @hcschild

[2016-11-15 21:36] #28 closed, assigned to nobody

[2016-11-16 11:45] bra1n opened #30 "Test ticket from Code Climate"

[2016-11-25 16:11] #30 closed, assigned to nobody

[2016-11-25 16:19] bra1n opened #31 "Cache responses for !ipg, !mtr, !card"
The bot shouldn't make requests for resources it has recently accessed, in order to speed up the query. In theory, the whole MTR and IPG could be served from cache.

- [x] IPG
- [x] MTR
- [x] Card

[2016-11-25 16:19] bra1n commented on #11
IPG is done, now MTR. :D

[2016-11-25 23:55] bra1n commented on #11
Actually, there is still a minor issue with `!ipg usc`:
[code]
The order is taken from the table, which has 2 columns. Also, it shouldn't show "Available topics" when that list is empty.

[2016-12-13 14:48] bra1n opened #32 "!ipg ddlp doesn't show downgrade options"
Or any other sections but "definition".

[2016-12-15 18:32] bra1n opened #33 "!card should also support foreign card names"
It might make sense to first move away from the online API for card querying and set up a local database, based on MTGJSON.

[2016-12-30 19:28] hugarh opened #34 "!cr should support pulls of subrules"
While the bot is great, a large number of rules in mtg are split into several smaller subrules

Either allowing an option to simply return all subrules of the requested rule, or allowing multiple arguments to !cr would be useful when explaining a full rule to someone, instead of the rule being returned with breaks as you request each subrule in a seperate !cr

[2016-12-31 14:24] bra1n commented on #34
That could lead to very long messages, so we'd probably have to cut off the subrules at some point... but I think it makes sense to support some kind of query that outputs more than one (sub)rule.

[2017-01-08 23:26] hgarus commented on #32
I found the reason: The markup on http://blogs.magicjudges.org/rules/ipg3-5 is invalid. In the raw html around line 324 there is some weird stuff going on with those p tags and the alert-info div. It seems cheerio is not able to handle this and just gives up after reading the definition section.

Possible solutions are:
* Just fix the markup in the annotated IPG
* Switch back to jsdom and jquery,

[2017-01-09 20:05] bra1n commented on #32
Alright, I cleaned up the page on blogs for solution number 1, however I absolutely agree that solution 3 would be the best overall, by far. @hgarus maybe tackle that in a new ticket or in #11 ?

[2017-01-09 20:05] #32 closed, assigned to hgarus

[2017-01-15 14:38] hgarus opened #35 "Switch away from the annotated IPG for !ipg"
As mentioned in #32, I think the version of the IPG available under https://sites.google.com/site/mtgfamiliar/rules/ is easier to parse, it also provides the whole IPG on a single page, which makes it simpler to read it in once on startup, so the bot doesn't have to make a separate request on each !ipg command.

[2017-01-15 22:10] hcschild commented on #35
Thanks I will look into this.

[2017-01-16 07:59] hgarus commented on #35
I have already done some work on this. I will send a pull request this evening.

[2017-01-21 11:05] hgarus opened #37 "Implement !mtr"
Implement `!mtr [section]` based on the mtr from http://www.bluewizard.net/judgeDocs.html

[2017-01-21 11:26] bra1n commented on #35
Fixed with #36

[2017-01-21 11:26] #35 closed, assigned to hgarus

[2017-01-21 12:13] bra1n commented on #37
This will close #11 as well. :)

[2017-01-23 19:03] hgarus commented on #18
I gave this some thought when implementing !mtr, since it contains the banlists. Is printing a huge list of cards into a chat really useful? Personally I think this is better handled by a web page (!mtr will answer with a link to blogs.magicjudges.org/rules for requests of sections 6.3. to 6.7) or in reverse (printing the legality information with the card the way !card already does).

[2017-01-23 19:22] bra1n commented on #37
`!mtr 10.4` outputs the changelog at the moment

[2017-01-23 19:32] bra1n commented on #18
I agree, I think it would be sufficient to return a link collection to the banlist for each format. Like:
[code]

[2017-01-24 19:37] hgarus commented on #37
`!mtr 10.4` looks ok now. The answer gets truncated before the changelog would be displayed. In addition Ryan Stapleton removed the Changelog from the original HTML.

[2017-01-24 19:37] #37 closed, assigned to hgarus

[2017-01-24 19:39] hgarus commented on #11
I think we can close this after closing #37

[2017-01-24 19:39] #11 closed, assigned to hcschild

[2017-01-24 22:06] bra1n commented on #11
Agreed!

[2017-04-12 10:09] bra1n opened #41 "!cr 510.1c doesn't work"
[code]

Vorschlag: Examples aus den Rules rausfiltern und separat anbieten (z.B. mit !example 510.1c)

[2017-04-19 22:25] bra1n opened #42 "Allow switching results (ie. for !card) with Discord reactions"
Discord support "reactions" to messages and the idea here would be to allow changing the displayed result for a card query to the next / previous one when somebody reacts with a ➡️ or ⬅️ emoji (or similar) to a card result message. The idea would be that the bot reacts itself to its own message with ◀️ and ▶️ and people can simply click on them (to add a reaction) and have the bot edit the message

[2017-08-09 21:17] bra1n commented on #22
Should be fixed now.

[2017-08-09 21:17] #22 closed, assigned to nobody

[2017-08-09 21:18] bra1n commented on #8
Probably not, because there are many servers where people don't want to be whispered by a bot.

[2017-08-09 21:18] #8 closed, assigned to nobody

[2017-08-10 20:45] #42 closed, assigned to nobody

[2017-08-10 22:03] bra1n commented on #33
Not going to happen soon, because Scryfall (the new API) doesn't support this.
See https://github.com/scryfall/feedback/issues/283

[2017-08-13 22:14] #34 closed, assigned to nobody

[2017-08-13 22:14] #41 closed, assigned to nobody

[2017-08-13 22:14] #23 closed, assigned to nobody

[2017-08-18 18:38] #31 closed, assigned to nobody

[2017-08-29 11:08] bra1n opened #55 "!cr and !define should do the same"
Idea: use a regular expression to see if someone queries for a rule (123.4a) or a definition (lifelink)

[2017-09-03 12:52] #55 closed, assigned to nobody

[2017-09-04 08:24] bra1n opened #59 "Improve inline !command parameter! pattern"
`this is a message (with an inline !command pattern!)` adds the closing paranthesis to the command

[2017-09-11 23:27] tilda opened #62 "!help anywhere in a message triggers the bot"
For example, if I write `dsjghfdkjasd !help`, I receive a help DM from judgebot.

[2017-09-12 11:41] bra1n commented on #62
Yeah, I'm planning to limit which commands work inline for cases like these.

[2017-09-12 15:27] bra1n opened #63 "!card westvale abbey doesn"

[2017-09-12 15:27] bra1n opened #64 "!card westvale abbey doesnt work"
bug

[2017-09-12 15:30] #63 closed, assigned to nobody

[2017-09-12 17:04] #59 closed, assigned to bra1n

[2017-09-12 17:04] #62 closed, assigned to bra1n

[2017-09-14 09:03] bra1n opened #66 "include=extras should be added to every !card query"
Until Scryfall adds it to their API: https://github.com/scryfall/feedback/issues/284

[2017-09-18 07:16] #66 closed, assigned to bra1n

[2017-09-23 23:02] bra1n opened #68 "!card conqueror's galleon throws an error"

[2017-09-24 18:28] bra1n opened #69 "!ipg hce additional-remedy doesn't work"

[2017-09-25 09:45] bra1n opened #70 "whatsinstandard.com sometimes returns garbage"
which will break the !standard command

[2017-09-25 09:45] #68 closed, assigned to bra1n

[2017-09-25 09:45] #69 closed, assigned to bra1n

[2017-09-26 11:14] bra1n opened #72 "!define play shows only first paragraph"

[2017-09-28 07:58] bra1n opened #73 "!price scrubland -is:online throws an error"
[code]

[2017-09-28 12:59] #72 closed, assigned to bra1n, hgarus

[2017-09-28 12:59] #73 closed, assigned to bra1n

[2017-10-10 12:34] KevinBaudin opened #77 "Bug with !hangman"
We use judgebot on our Discord server, and hangman always gives us

[code]

It has worked before, but seems broken now

[2017-10-12 12:16] bra1n commented on #77
Can you please give it a try again? It works for me and the bot is restarted every 24h, so it could be that it got stuck somehow and now it works again.

[2017-10-20 20:44] bra1n opened #78 "!help <command> should also work with aliases of <command>"
For example: !help define

[2017-10-23 12:34] tonini opened #79 "Clickable thumbnail image when using !card"
Hi @bra1n
Thanks for your great work with judgebot. :)

I really would like to be able to click on the thumbnail like when using `!hangman` and failing, it would be nice to have the ability to zoom into the card image/art. (https://github.com/bra1n/judgebot/blob/develop/modules/card.js#L241)

What do you think, shouldn't be that hard to implement?

Cheers

Sam

[2017-10-25 17:30] bra1n commented on #79
Hi @tonini,

thanks for the suggestion, I'll look into it when I have some time. Unfortunately, I expect that Discord doesn't offer the means to allow zooming into thumbnails. With `!hangman`, the full image is actually attached with the response, which is something I'd rather avoid for regular `!card` queries. What I could add would be something like an `!image` command that returns (just) the ca

[2017-10-26 12:37] KevinBaudin commented on #77
Yup, sorry, forgot to answer.
Yes, it probably got stuck, now it's ok again, and no bug since the report 2 weeks ago.
Thanks 👍

[2017-10-26 14:12] bra1n commented on #77
Cool, thanks. :-)

[2017-10-26 14:12] #77 closed, assigned to nobody

[2017-11-02 18:26] Shardot opened #80 "Image doesn't show in !hangman"
Hi.
The cardimage currently doesn't show up after completing a game of hangman. The issue seems to be that scryfall have changed their api.

Changing card.image_uri on row 78 in hangman.js to one of the following should fix it as far as I can tell:

card.image_uris.small
card.image_uris.normal
card.image_uris.large
card.image_uris.png

some cards also seems to have
card.image_uris.art_crop
and
car

[2017-11-02 20:18] #5 closed, assigned to nobody

[2017-11-02 20:19] bra1n commented on #5
Supported through `!stores <location name>` now (no other parameters)

[2017-11-03 11:32] bra1n commented on #80
Thanks for the report @Shardot, fixed with #81

[2017-11-03 11:32] #80 closed, assigned to nobody

[2017-11-05 19:02] #78 closed, assigned to nobody

[2017-11-05 19:02] #79 closed, assigned to nobody

[2017-11-05 19:03] bra1n commented on #79
Card images can be zoomed with the magnifying glass reaction now. :)

[2017-11-20 11:11] bra1n commented on #64
Broken again, dang Scryfall API...
[code]

[2017-12-08 13:41] #64 closed, assigned to bra1n

[2018-03-16 15:37] cryptiklemur opened #86 "Consider allowing conditional support for [[CARD NAME]]"
Would be pretty nice to have the bot listening for people who type things like `[[Hive Stone]]`, and respond with the proper card, and allow it to be configurable per server (toggle it on or off)

[2018-03-16 15:41] bra1n commented on #86
That would require individual server settings, which would require some kind of configuration interface and config storage, plus the headache of who should be able to configure the bot. So far, I haven't seen enough advantages for server-specific settings to outweigh the extra work required to be able to configure the bot.
Feel free to build something like that and submit a PR though. :D

[2018-03-16 15:43] cryptiklemur commented on #86
Wouldn't necessarily need to be configurable, just a nice thing for people

[2018-03-16 15:45] bra1n commented on #86
Simply being able to turn this on or off would be already a configuration, because by default, Judgebot should not use the same syntax as the Scryfall bot. ;)

[2018-03-16 15:46] cryptiklemur commented on #86
I mean, it doesn't need the option to turn it on or off, if its a bunch of extra work

[2018-03-16 15:50] bra1n commented on #86
But then, like I said, Judgebot would have conflicting syntax with the Scryfall bot. And that just so people can type `[[hive stone]]` instead of `!card hive stone!`? Maybe if there's enough demand...

[2018-04-17 15:25] Nullzone42 opened #87 "!card function is imprecise"
When querying judgebot using !card we frequently get an undesired result - near as I can figure it seems to be indexing all possible matches for the search term and then returning the first match in the index, even if there's a more exacting comparison.

For example, !card fling (or !card Fling) returns Akki Boneflinger, rather than Fling. If I was making a deliberate imprecise search, I'd expect

[2018-04-17 15:36] bra1n commented on #87
Weird, if I use `!card fling`, I get Fling as the first result:
![fling](https://i.imgur.com/5wdMVzM.png)
Is there any other query where you get these imprecise results?

[2018-04-17 16:40] Nullzone42 commented on #87
Most one-word card names seem to do this, particularly if they don't start with A. Just in the last few minutes I've hit Moat (got Magus of the Moat), Opt (got Flowstone Thopter), Recall (Ancestral Recall), Wonder (Bazaar of Wonders)...you get the idea.

Of note, in case it's significant: when I was testing the different capitalization on Fling I tried using the "arrow react" to cycle the output t

[2018-04-17 16:48] bra1n commented on #87
Alright, I can reproduce the issue with "!card opt". Take a look at the [API from Scryfall](https://api.scryfall.com/cards/search?q=opt ), which Judgebot is using, or [the actual Scryfall site](https://scryfall.com/search?q=opt). In both cases, the card "Opt" is not the first result. This means, Judgebot would need some additional code to sort 100% matching cards to the front. Currently, Scryfall

[2018-04-18 14:17] Nullzone42 commented on #87
Gotcha. Maybe this is more a feature request than a bug then? It's still awkward in practice (especially when the actual scryfall bot has not shown similar problems parsing single word cards).

[2018-05-06 21:06] KingSupernova31 opened #92 "Documents are outdated"
The bot is still using the Ixalan rules documents.

[2018-05-07 20:55] bra1n commented on #92
Hi @KingSupernova31,
thanks for the report! Unfortunately, the base files for the rules lookup, which so far have been kindly provided by the MTG Familiar app / [Blue Wizard](http://www.bluewizard.net/judgeDocs.html) are no longer being updated, so we'll have to look into viable alternatives. This should be somewhat easy to fix for the CR (as WotC provides them in TXT format), but will be a lot ha

[2018-06-04 12:23] bra1n commented on #70
Looks like they fixed it on their end.

[2018-06-04 12:23] #70 closed, assigned to hcschild

[2018-06-14 10:38] BorisCharriere opened #95 "translation for DescriptionText"
Hello here. Maybe We can imagine to use printed_text instead of oracle_test in function generateDescriptionText. I'm using this bot mainly with lang:french and the displayed text is the english text.
Could we fix that ? @bra1n

[2018-06-20 20:03] bra1n commented on #92
Alright, IPG and CR have been fixed. MTR still needs to be worked on.

[2018-06-20 20:05] bra1n commented on #33
So, this has finally been implemented on the Scryfall API side! All you need to use is "lang:de", for example, if you want to get German cards: `!card visier lang:de`

[2018-06-20 20:05] #33 closed, assigned to nobody

[2018-06-20 20:08] #95 closed, assigned to nobody

[2018-06-20 20:08] bra1n commented on #95
Fixed!

[2018-06-27 19:54] AEFeinstein commented on #92
MTG Familiar maintainer here. I ended up writing a tool to collate the docs from https://blogs.magicjudges.org/rules/ into single page HTML. They're still in a branch, but you can see the results here:
https://github.com/AEFeinstein/GathererScraper/tree/new-judge-docs/rules
Once those get merged into master, I'll be maintaining them for as long as magicjudges.org does (or you can use my tool to ge

[2018-06-30 08:41] Talek44 opened #98 "Full image of card"
Hi, it will be great to show only full card and if possible in langage of our choice.

[2018-07-01 19:38] bra1n commented on #98
Hi @spirius44, you can pull up the full image for a card if you click on the magnifying glass:
![image](https://user-images.githubusercontent.com/325521/42138028-0d34ee6e-7d77-11e8-9ae0-58335d589923.png)
(the icon is on the bottom at the very left)

[2018-07-01 19:41] #98 closed, assigned to nobody

[2018-07-01 20:04] bra1n commented on #87
Alright, I've just committed a fix for this issue that should sort perfect matches (like "opt") always to the top and after that prefer matches at the beginning of the name followed by matches that have the highest relation of query length vs card name length.

[2018-07-01 21:16] bra1n commented on #92
Cool, thanks for the effort @AEFeinstein! I'll take a look and if it's easier to use than the PDFs, we'll switch to them. :)

[2018-07-01 21:16] bra1n commented on #86
Not going to add this anytime soon.

[2018-07-01 21:16] #86 closed, assigned to nobody

[2018-07-01 21:17] bra1n commented on #7
This would probably be impossible without breaking data privacy laws, so we won't add it for now.

[2018-07-01 21:17] #7 closed, assigned to nobody

[2018-07-01 21:18] #87 closed, assigned to bra1n

[2018-07-01 22:48] bra1n opened #100 "!standard broke once again"
New API: https://whatsinstandard.com/api/v5/sets.json

[2018-07-02 17:23] #100 closed, assigned to bra1n, hcschild

[2018-07-03 14:47] vaeng opened #103 "Display value of foil in !price responses as well"
It would be nice to have the option to know the foil price as well. I thought of doing it with "!price isolate is:foil" to narrow down the result, but that doesn't work

[2018-07-04 10:09] bra1n commented on #103
Currently we only show the prices that Scryfall delivers, which are unfortunately not for foils. If we want to have foil prices on judgebot, we'd need to add an external pricing API. It's doable, but not an easy fix.

[2018-10-03 13:38] EvoFox opened #104 "[Feature Request] Variable Prefix for Commands"
Would it be at all possible to create a feature in which you could change the prefix of the commands from ! to another symbol?

I run a small community that uses a fair number of bots and I would like to be able to tweak the prefixes of them so that they don't overlap.

[2018-10-04 15:38] bra1n commented on #104
Not really. Judgebot doesn't store any data for any of the servers it is on, so the only way to change the prefix would be to change it globally. Your best bet at this moment would be to simply fork the bot and run your own version with a modified prefix for your own server.

[2018-10-15 00:35] AEFeinstein commented on #92
FYI, the rules now live at https://github.com/AEFeinstein/GathererScraper/tree/master/rules
And if you want to generate the files yourself, you can run the program and click the "Scrape Judge Docs" button. You could automate it further if you want, I made an RSS feed which posts when there are new docs at https://mtgfamiliar.shick.xyz/gatherer_sets.rss

[2018-10-28 21:52] bra1n commented on #92
Cheers, I've just updated the MTR link.

[2019-04-26 06:34] chadrien opened #107 "Change a card language"
What do you think about adding as reaction flags representing the available languages for the card that has been fetched so that you could change it language on the fly? This can be useful when you have 2 people talking about a card but e.g. one is more used to the english keywords while the other is more used to the french ones.

If you think this is a good feature idea, I can also work on it and

[2019-04-28 09:51] bra1n commented on #107
I think that's a great idea, but keep in mind that the bot already returns localized versions of a card if requested. On top of that, only the requesting user can use the emoji reactions to control the results of a query. If those 2 constraints would be fine for your idea, I'd love to see a PR for it! :+1:

[2019-04-29 06:06] chadrien commented on #107
Yes, with the `lang:$lang` query, which is great!

Ah I didn't know that :)

It makes the feature just a bit less convenient that I intended, but still works I think: if you wanted a specific language for the card but forgot to use the `lang:` param (which I personally wouldn't know it existed if I haven't went through the repo's issues), you can still use the flags to request the language you ori

[2019-04-29 12:12] bra1n commented on #107
Actually, Scryfall (the API that we use for fetching cards) already returns localized cards if they match your generic query. What we do then is to simply [show the appropriate language flag](https://github.com/bra1n/judgebot/blob/develop/modules/card.js#L172) if the card that will be displayed is non-English. So your feature could probably tie into that.

About the restriction for the requesting

[2019-05-21 12:06] Shardot opened #108 "!CR outdated"
The Comprehensive Rules command (!cr) seems to be slightly out of date, as it uses the RNA version of the rules, not the WAR ones. This means that for instance the proliferate portion of the rules is incorrect.

[2019-05-22 12:28] #108 closed, assigned to bra1n

[2019-05-22 12:28] bra1n commented on #108
Thanks for the report, I fixed the issue.

[2019-06-07 23:33] T3sT3ro opened #110 "!price always results in "No prices found""
![image](https://user-images.githubusercontent.com/5300963/59138265-756cc480-898c-11e9-87b9-d3b4a11dc2ea.png)

For each card I tried, result of `!price` gives 'No prices found'.

[2019-06-11 13:26] #103 closed, assigned to nobody

[2019-06-11 13:26] #110 closed, assigned to nobody

[2019-06-11 13:28] bra1n commented on #110
Fixed. :-)

[2019-06-11 13:29] bra1n commented on #103
Scryfall added (USD) Foil prices, so we have those now, too!

[2019-07-09 09:11] bra1n opened #112 "Some mana symbols are broken"
Example:
!card apex predator
!card iona
![Bildschirmfoto 2019-07-09 um 11 11 01](https://user-images.githubusercontent.com/325521/60875507-4f13a080-a23a-11e9-939b-2164bac1df55.png)
![Bildschirmfoto 2019-07-09 um 11 11 07](https://user-images.githubusercontent.com/325521/60875509-4fac3700-a23a-11e9-8494-c218821f49ca.png)

[2019-07-25 12:25] Hanmac opened #114 "CompRules 20190712"
CompRules need to be updated fo 2019.07.12
 [https://media.wizards.com/2019/downloads/MagicCompRules%2020190712.txt](https://media.wizards.com/2019/downloads/MagicCompRules%2020190712.txt)

[2019-08-03 11:07] D4rkL1ch commented on #112
I do have the same problem on my Discord server with any card.
<img width="604" alt="Screenshot 2019-08-03 at 13 07 37" src="https://user-images.githubusercontent.com/4180274/62411180-b2051700-b5ef-11e9-85ab-5329325bd2e3.png">

[2019-08-07 20:04] #112 closed, assigned to nobody

[2019-08-07 20:04] #114 closed, assigned to nobody

[2019-08-07 20:05] bra1n commented on #114
Fixed!

[2019-08-07 20:05] bra1n commented on #112
Finally fixed. :-)

[2019-08-29 09:50] D4rkL1ch commented on #112
This is still happening for me, do I need to somehow "update" the bot on the server or change its settings?
<img width="624" alt="obraz" src="https://user-images.githubusercontent.com/4180274/63930217-28f8c880-ca53-11e9-812b-c3c4f7be8096.png">

[2019-08-29 16:02] bra1n commented on #112
@D4rkL1ch I can't reproduce your issue:
![image](https://user-images.githubusercontent.com/325521/63956645-1e582680-ca87-11e9-8fe3-66afe602e9fd.png)

Did you maybe disallow external emojis in this channel / for this role? You could try removing and re-adding the bot and see if that fixes the problems. Also make sure that external emojis are allowed.

[2019-09-24 16:18] tyler3802 opened #119 "hangman"
it keeps sending a message saying that must wait 3 min in between, yet i haven't used it for hours.  This keeps repeating to the point where i kicked the bot and re-installed it.  the same problem occurred.  What should i do?
Thank you for your time,
Tyler

[2019-09-29 19:44] bra1n commented on #119
Hey, so I just tested this feature on two different servers and it works on both. Do you still have this problem right now?

[2019-09-30 00:02] tyler3802 commented on #119
Yes

On Sun, Sep 29, 2019 at 3:44 PM Steffen <notifications@github.com> wrote:

[2019-10-01 06:58] bra1n commented on #119
Alright, I need to investigate this further. Is your server public so I can take a look at it?

[2019-10-17 12:35] QDebesson opened #120 "[Idea] Code generalisation — Slack bot"
Hey!
I've search around the web for a bot able to answer commands for specific chapters of the rules and cards… and your project is just the perfect answer.
Sadly, I've been searching for a Slack bot, and not a Discord one.
I've been looking at your code, and I think it's pretty doable to interface different platforms and API.
Is this something you can envisage? If yes, do you need/want help?

Tha

[2019-10-18 08:49] bra1n commented on #120
Hi Quentin,
thanks for your suggestion. There are already a few MTG related bots available for Slack, so maybe you can find what you're looking for there? If not, feel free to adapt judgebot to the Slack API. Unfortunately, I don't have the time to do this myself - otherwise there would be a lot more happening on this project too. ;-)

[2019-10-18 08:50] bra1n commented on #119
Since I can't reproduce it and haven't heard back from you in a while, I'll close this issue for now.

[2019-10-18 08:50] #119 closed, assigned to nobody

[2020-01-28 12:18] Majias opened #124 "Judgebot offline"
Hello,

Judgebot went offline in my two servers and I'm unsure why, it's been functionning accurately for over 6 months in one and over 3 years in the other. When I check other judgerelated servers, I see that judgebot is up (like the official Magic Judges Discord).
Any idea what the issue could be related to ?

Thanks

[2020-01-28 12:58] bra1n commented on #124
Hi @Majias,
it was probably just a hickup on my server or the Discord API. I restarted the bot, please check again if it's still broken for you. If it is, I'd suggest kicking the bot and re-adding it to your server. :-)

[2020-01-28 13:00] Majias commented on #124
Worked wonders, thank you for the help and for the great bot :)

[2020-01-28 14:00] bra1n commented on #124
Awesome, glad that this fixed it. :-D

[2020-01-28 14:00] #124 closed, assigned to nobody

[2020-03-20 14:06] grotlek opened #125 "!hangman seems to ignore guesses after ~2m"
As title, the hangman command seems to ignore any guesses after ~2 minutes - a minute less than the 3m it says people have. It waits the full 3m to post the answer but for a period of time it just doesn't accept new guessed letters.

When you fix this, may I suggest that you also show the time remaining (at least at every 30 second intervals if not an actual count down).

[2020-04-09 06:32] multimeric opened #126 "Bot not reading reactions"
Hi,

Thanks for this great bot. However, I just installed it, but it seems to be ignoring the reacts, e.g. for hangman, and the arrows for the search. Is there a certain permission that I'm missing perhaps?

*edit:* it isn't ignoring them, it just stops listening after a very short period

[2020-04-09 06:42] multimeric commented on #126
However, it correctly reads reactions when I PM the bot directly.

[2020-04-09 14:09] multimeric commented on #126
I think this relates to: https://github.com/bra1n/judgebot/blob/e05a23f6183d86bb0951721773bcb579af49c48e/modules/card.js#L367-L371. You're only listening to reacts for 1 minute, and only listening for up to 20 reacts. Is it possible to bump this up? It seems a little short.

[2020-04-10 10:00] bra1n commented on #126
Hi @TMiguelT,
you are correct in that the bot will stop listening to reactions after 1 minute. The reason for that is, that the bot is running on 3000+ servers at the same time - all powered by a single, low-performance machine. Having listeners open for a few dozen messages at the same time would overload the bot pretty fast, so I'm kinda hesitant to increase this limit, unless there's a better p

[2020-04-10 10:01] #120 closed, assigned to nobody

[2020-04-10 10:14] multimeric commented on #126
Ohh that makes sense, I didn't realise you had to host discord bots yourself. The best free hosting I know about is Google Compute Engine's free tier (a single [f1-micro](https://cloud.google.com/compute/docs/machine-types) free forever), but I doubt that would be any more powerful than what you're using.

I wonder if there is merit to using a stateless compute solution like AWS Lambda or Google C

[2020-04-12 12:59] multimeric commented on #126
After some exhausting troubleshooting, I've worked out the problem. It's not that your `time` value is wrong for the collector object, it's that your bot's cache timeout is too short.

From [this StackOverflow answer](https://stackoverflow.com/a/53102716/2148718), I realised that reactions are only handled for cached messages, and currently you're only caching messages for 60 seconds, and sweeping

[2020-04-17 00:34] SantiRivera92 commented on #125
The bot does not ignore any guesses after ~2 minutes. The bot ignores any guesses after anyone talks in the same room where the hangman is going on.

[2020-04-19 08:54] bra1n commented on #126
Thanks for the investigation, that does look like a bug to me! I'll add some comments to your PR and will merge it later to the master branch.

[2020-04-19 08:54] #126 closed, assigned to nobody

[2020-04-19 08:59] bra1n commented on #125
As has been pointed out in #126 this is probably an issue of a too short timespan where the bot will listen to reactions. @TMiguelT has been working on a fix for this and I'll merge his changes soon, after which it should work better. :) People talking in the same channel where the hangman game is played does actually make the bot "forget" the ongoing game so this will be fixed, too.

[2020-04-19 08:59] #125 closed, assigned to nobody

[2020-04-19 09:01] multimeric commented on #126
Ah unfortunately neither of my PRs actually attempt to fix this, they relate to other issues/features. But the simple fix is just setting the `messageCacheLifetime` to a number that's always >= the maximum ReactionCollector time. So for your master branch you should have `messageCacheLifetime: 60 * 3 `

[2020-04-19 09:27] bra1n commented on #126
Yeah I saw. :D I went ahead and increased the numbers myself, after looking at your fork.

[2020-04-20 00:16] Shoe2 commented on #92
So, is this still a problem? As far as I can tell the comp rules are over 6 months old now rendering most of the bot useless.

[2020-04-21 09:19] bra1n commented on #92
I actually wanted to wait with the deployment until #128 was done, but since you really seem to need the updated CR, I deployed it now. ;-)

[2020-06-06 14:50] harryfino commented on #77
@bra1n the bot is doing this again on my server.

[2020-06-06 18:16] harryfino opened #135 "Hangman Broken Again"
Hangman keeps throwing an error regardless of how many minutes we let pass. We've tried hours. We've already tried kicking the bot and re-inviting to no avail.

<img width="376" alt="Screen Shot 2020-06-06 at 2 15 28 PM" src="https://user-images.githubusercontent.com/1643512/83951557-3ae87280-a800-11ea-9bff-9ba56b9ecc4e.png">

[2020-06-06 18:27] harryfino commented on #135
Running `!hangman guess <string>` seems to unstuck the game. Closing it until I can figure out how to reproduce.

[2020-06-06 18:27] #135 closed, assigned to nobody

[2020-06-06 18:48] bra1n commented on #77
Weird, I just tested it and it worked fine. What did you do with the bot leading up to getting it stuck on hangman?

[2020-06-06 19:53] bra1n commented on #135
Huh, interesting. Could be a bug in the guessing code maybe? @TMiguelT

[2020-06-07 04:13] multimeric commented on #135
Yes if you can hit me with a reproducible example I'd be happy to debug it. I suspect it's not to do with the guessing code so much as the general refactor that I did.

[2020-06-30 18:02] TylerBloom opened #136 "Refined Searching"
I have not been able to just quote a rule without any subrules (ie. 614.1a,b,c...). For example, if I want to quote CR 614.1, I can't use `!cr 614.1.` to only quote that rule and none of its subrules. Quoting entire sections like this is very useful at times but it is often deleterious to the conversation.

This might be an issue with the source that is being searched against. I've noticed that th

[2020-08-11 21:31] n21lv commented on #92
If anything, there is probably a better source of CR to be found at https://yawgatog.com/resources/magic-rules/. That gets updated much faster than CR (I think automatically) at https://blogs.magicjudges.org/rules/cr/ and is hyperlinked to the brim.

[2020-08-13 08:54] bra1n commented on #92
Unfortunately, the rules document needs to be parsable by the bot, so having hyperlinks or additional (html) markup makes it unusable to the bot. And Wizards always has to update their CR URL, sometimes even changing the format of the file every other release, so I always have to update the code by hand.

[2020-08-13 14:57] n21lv commented on #92
Hmm.. can't you just grab the text via HTMLElement.innerText after locating the necessary rule via ID? E.g. :
[code]
UPD: updated the example slightly

[2020-08-13 16:23] KingSupernova31 commented on #92
Just use https://slack.vensersjournal.com/allrules, or if that isn't formatted the way you want, ask Andrew to add a different endpoint.

[2020-08-31 04:58] michaelihorwitz opened #138 "!cr not citing the correct rules"
I noticed today that I kept getting weird results from !cr, and after a bit I was arguing about some rules with someone when someone did !cr 103.2 and the bot cited rule 103.1 instead and mislabeled it as 103.2. Attached is an image of the incorrect citation.
![Judgebot issue](https://user-images.githubusercontent.com/46689098/91684300-13662500-eb25-11ea-96a4-05ba1ffac800.png)

[2020-09-09 18:30] bra1n commented on #138
Ah yes, this was caused by outdated CR. Thanks to #140 the CR will now automatically update whenever there is a new version. :)

[2020-09-09 18:30] #138 closed, assigned to nobody

[2020-09-09 18:32] bra1n commented on #92
Finally, thanks to #140 and @Villawhatever, this should no longer be an issue. :-)

[2020-09-09 18:32] #92 closed, assigned to bra1n, hgarus

[2020-09-12 14:58] 0xCyberFortress opened #143 "Custom Prefix"
I saw the issue the other person left, for variable prefixes, but I'm just asking for the ability to make your own prefix. It's default is !, which is far too common. I have another bot, Mee6, which this bot clashes with because both refuse to be able to change their prefixes.

Can we please make this a reality? It's a part of the default discord bot code and is I believe literally one setting awa

[2020-09-14 09:09] bra1n commented on #143
Hi @Maalarius,
I think you misunderstood my answer in the previous issue. Discord doesn't provide an out-of-the-box solution (that I know of) for custom server settings for a bot. That means, if I were to change the prefix to something else, it would be changed for all 3300 servers that judgebot is currently being used on. On top of that, the bot doesn't even have any kind of database or configura

[2020-09-14 09:09] #143 closed, assigned to nobody

[2020-12-17 03:58] multimeric opened #146 "Support slash commands"
Discord recently added "slash commands", which is a platform-supported method of defining bot commands, subcommands and arguments. It gives features like command completion, a better UI and discoverability for commands: https://discord.com/developers/docs/interactions/slash-commands.

I think this would be a great feature for judgebot. I'm happy to implement this once I get time. Currently this is

[2020-12-17 04:13] thetayloredman commented on #146
One thing: you are limited to 50 guild commands and 50 global commands.

[2020-12-17 04:16] multimeric commented on #146
Why is this a problem? Judgebot has like 14 commands as is. If it ever grows to beyond 50 I think that subcommands could be used to shrink this number.

[2020-12-17 17:15] thetayloredman commented on #146
Ah, okay

On Dec 16, 2020, 8:16 PM -0800, Michael Milton <notifications@github.com>, wrote:

[2020-12-17 20:54] bra1n commented on #146
Ooh, nice feature! Thanks for the heads-up, when they finish the linked PR I think it could be used for judgebot. However, it looks like it would need a lot of rewriting and at least the webhook approach won't work with Emoji reactions, if I'm not mistaken. So we'll have to see how an "INTERACTION_CREATE" gateway event will be handled by Discord.JS.

[2020-12-18 03:01] multimeric commented on #146
I think the bot can respond to the interaction with a regular message sent to the channel, at which point you can listen for reactions in the normal way. So I don't think this will be a huge issue.

[2020-12-18 14:30] bra1n commented on #146
Let's hope that's going to be the case. :-)

[2020-12-18 18:04] thetayloredman commented on #146
It appears so.

On Dec 18, 2020, 6:30 AM -0800, Steffen <notifications@github.com>, wrote:

[2021-04-06 20:13] CoderBrandon opened #150 "Show prices as a range if no set parameter is passed"
Currently the bot appears to only scrape the first prices for the first set listed on Scryfall if no `set` parameter is passed.

![image](https://user-images.githubusercontent.com/593643/113772358-9b7f5f00-96f2-11eb-9589-7a9fa81e3d88.png)

Ex: `!price Sliver Queen` only returns the TIX
![image](https://user-images.githubusercontent.com/593643/113772789-29f3e080-96f3-11eb-9596-3207027f8985.png)

Id

[2021-05-04 03:22] KingSupernova31 commented on #136
The period distinction is nice and easy, but I worry that people might not realize it's relevant, include or omit it by accident, and be confused when the results aren't what they'd expect.

On the other hand, this is the same system that RulesGuru uses to differentiate between "include subrules" and "this rule only" in its searches. The fact that you and I both arrived at that system independentl

[2021-05-04 03:30] KingSupernova31 opened #151 "Don't require prefixes unless neecessary"
Writing out `!card` in front of any card name that a user wants to fetch is rather laborious. This has led to a number of people in my servers asking for us to use other bots instead. Given how different the syntax is between card names and rule numbers, I don't see an issue with allowing `!Tarmogoyf` and `!100.6b` be recognized and treated as though they had the appropriate prefix.

(I'm assuming

[2021-05-04 05:16] TylerBloom commented on #136
I have a PR out for this issue, #147 .

I think the period at the end is a small but fairly intuitive way to handle this, though I am open to other ideas.

[2021-05-04 05:25] TylerBloom commented on #151
I think this would be better served with an entirely different syntax.

Most servers that I'm on use JudgeBot in conjunction with Bolas or Scryfall. From my understanding, the only commonly used feature that JudgeBot doesn't support is the double-bracket syntax. Support for that (or something equivalent) would be ideal.

[2021-05-04 15:59] KingSupernova31 commented on #151
Scryfall's syntax still requires 4 characters, whereas `!Tarmogoyf` only takes one. I think having judgebot recognize double brackets would be a slight improvement (it's a lot faster to type `[[]]` than `!card` since the keys are all in one spot), but still less than ideal.

[2021-05-04 17:01] bra1n commented on #151
Judgebot is not going to get a new command char (like `[`) or a syntax that would interfere with other bots, if they are also present on the server. I also don't think that having a command-less `!Tarmogoyf` pull up a card is a good idea, both because now any sentence with a `!` follow by anything but a space would trigger the bot, and because you're going to get clashes with other (future) comman

[2021-05-04 17:13] KingSupernova31 commented on #151
To solve the first issue, you could have the bot not send a message if a card name isn't matched. If someone accidentally types `!apple juice`, the bot just doesn't say anything. I'm not sure if this is likely to be an issue though, is that a common typo?

An alias seems like a decent solution too, I like that.

[2021-05-04 17:31] TylerBloom commented on #151
I think the second solution is a better idea. I was using Scryfall syntax as an example, `!!Tarmogoyf!!` seems like a pretty reasonable syntax and one that is not likely to happen accidentally.

[2021-06-02 01:27] multimeric opened #154 "Rework image thumbnails"
When you run a command like `!card Ice-Fang Coatl`, it embeds a thumbnail image, which is a good size for a bot output:
![image](https://user-images.githubusercontent.com/5019367/120409927-56477880-c395-11eb-8d30-df214b6d3ba2.png)

 However, when you click on that image, it becomes evident that it is very low resolution, and is basically unreadable:
![image](https://user-images.githubusercontent.c

[2021-08-30 06:14] multimeric commented on #146
Okay slash commands are now enabled since discord.js 13.0.0 on August 6. So this feature is unblocked.

[2021-12-11 23:34] tosborne1215 opened #158 "Edgar Charmed Groom resolves to memorabilia card instead of playable card"
`!price edgar charmed groom` results in this link and no rules text. https://scryfall.com/card/avow/59/edgar-charmed-groom-edgar-charmed-groom?utm_source=api

Expected that it would resolve to https://scryfall.com/card/vow/236/edgar-charmed-groom-edgar-markovs-coffin

[2021-12-12 03:27] multimeric commented on #158
Right, so this is happening because by default we add `include:extras` to scryfall queries. If you do the same query on scryfall ( [`edgar charmed include:extras`](https://scryfall.com/search?q=edgar+charmed+include%3Aextras&unique=cards&as=grid&order=name)) you get the art card coming up first. And then because you used `!price` it only picks the first result. I wonder why @bra1n added this in th

[2021-12-12 09:01] bra1n commented on #158
I added the extra flag by default so that silver bordered cards, planes and
other non-playable cards can also be searched directly.

[2022-05-06 05:43] tosborne1215 commented on #158
Thanks! Gonna close it!

[2022-05-06 05:43] #158 closed, assigned to nobody

[2022-05-11 18:33] Th3-Slengineer opened #166 "Judgebot offline"
Looks like it is offline, any thing to reccomend to try and fix if its our end?

[2022-05-12 19:33] bra1n commented on #166
Hi @Th3-Slengineer,

this is probably caused by Discord phasing out its message reading API which is currently used by judgebot to check if someone used a `!` command. @multimeric is working on an improved judgebot that uses Slash commands and should be ready soon, so please hang tight and I'll try to restart the bot when it disconnects until then.

[2022-05-12 19:33] #166 closed, assigned to nobody

[2022-05-23 02:30] CocoaMix86 opened #167 "!cr command broken"
![image](https://user-images.githubusercontent.com/5726733/169732161-29311c9c-a925-439a-9b37-883afaa1cdc0.png)

I did notice that trying to go to the comprehensive rules site from WOTC gives this:
https://rules.wizards.com/rulebook.aspx?game=Magic&category=Game+Rules
![image](https://user-images.githubusercontent.com/5726733/169732257-f6854e18-c0b3-40dd-9d4f-ec2ef3f19cfb.png)

And the new site is

[2022-05-23 02:37] multimeric commented on #167
I believe the actual CR behaviour is fixed by my PR: #159. However as you say the URL has changed so I should probably redirect users to the new location with the hyperlink.

[2022-05-24 08:33] lunakv commented on #167
The actual problem might be much more pragmatic. Venser's Journal has been basically shut down, and `https://cr.vensersjournal.com` no longer redirects to the current rules file, but just returns a 404. As that's the URL that the bot uses to retrieve the file, it doesn't have anything to work with anymore.

[2022-05-24 08:44] multimeric commented on #167
How weird. I actually wrote a parser for the official CR (plaintest), which is here: https://github.com/multimeric/VensersJournal/tree/mtr-parser/scraper. When I get time I'll find a way to integrate it here.

[2022-05-24 08:54] lunakv commented on #167
I don't think the problem is even parsing per se, that the bot can do. It's just that because that link is down, the bot doesn't even get the rules file. As an aside, the link you provided seems to be a parser for the MTR, not the CR?

(I'm currently in talks with a few people about restoring at least the rules API of VJ in some fashion, btw.)

[2022-05-24 09:02] multimeric commented on #167
Right, I mixed them up. I think for the CR I added a plaintext parser in my PR: https://github.com/bra1n/judgebot/pull/159/files#diff-63fbf67a107117fba4b8a0ad4c02b79c6cc30c1333639ca5b1acb00d817347a7, which also doesn't depend on Venser's Journal

[2022-05-24 09:05] lunakv commented on #167
Sure. That's what the bot already does now. It doesn't depend on VJ for the actual parsing, just for the URL to get the plain text rules file.

[2022-05-24 09:09] multimeric commented on #167
Oh, well that should be easy to scrape directly from the Wizards site.

[2022-05-24 09:12] lunakv commented on #167
Yeah, that should be possible. Like I said, we're currently working on recreating the API, so hopefully we could just replace the dependency and the bot wouldn't have to do the scraping itself.

[2022-05-24 09:14] multimeric commented on #167
What happened to VJ? The GitHub also seems to have lost some commits from a PR I made to it. If you're willing to maintain VJ, could you find a way to wire my MTR parser into the API? The original intention was to have it there, so that others could use it, not just judgebot.

[2022-05-24 09:16] multimeric commented on #167
I ask because I would want to remove the VJ dependency if it's unlikely to be maintained in an ongoing fashion.

[2022-05-24 09:34] lunakv commented on #167
The details are unclear, but to sum it up - the owner of VJ had a falling out with the judge community, decided to shut the whole thing down, and nuked the original repo. The repo your fork is based on is itself a fork that's about 2 years out of date, but it was the best remnant of the original we had, though it appears yours is more up-to-date, which is great.

As far as further maintenance, dis

[2022-05-26 05:46] lunakv commented on #167
@multimeric A working version of the new API [is online](https://api.academyruins.com). You can check out the [source code](https://github.com/lunakv/academyruins-api), though it's a little hacked together at the moment and needs some cleaning up (but that's a problem for post-finals me :slightly_smiling_face: )

[2022-05-26 21:05] #167 closed, assigned to nobody

[2022-06-03 18:05] bl4ckb0l7 opened #170 "The bot is very unreliable for us."
I have a small server with a handful of friends. We’d love the bot, but it’s hardly responding to commands.
can’t tell any more details, but sometimes it works, but mostly, there is just jo respond.  Than it works again.

What can I provide further?

[2022-06-03 18:30] bra1n commented on #170
Hi Thomas,
I'm sorry that you're having trouble using the bot! This is, in part, caused by Discord slowly phasing out bot access to user messages, which is why @multimeric is working on slash commands in #159.
As soon as he's done with this, we'll release the new version which should have much improved usability and no longer suddenly stop working. Sorry if it still takes a while, we're working on

[2022-06-03 18:30] #170 closed, assigned to nobody

[2022-06-03 20:00] bl4ckb0l7 commented on #170
No hurry, thanks for this fast update!

[2022-07-11 17:48] pyrus420 opened #171 "Judge bot offline again"
Good afternoon I see that you are working on a new edition to stop this from happening and I commend you on that no rush there just bring it to your attention that it is currently offline again.

[2022-07-14 07:35] bra1n commented on #171
Sorry that it's been down again - we simply haven't found the time to upgrade it yet. It should always come back online though, after a while.

[2022-07-14 07:35] #171 closed, assigned to nobody

[2022-08-31 20:23] colacadstink commented on #136
Any updates/progress on this? Just ran into this issue today trying to quote `!cr 614.12`, and got all the subrules with it.

[2022-09-02 12:04] multimeric commented on #154
This is mostly fixed by #159.

[2022-09-02 12:04] #154 closed, assigned to nobody

[2022-09-02 12:04] multimeric commented on #146
Closed by #159.

[2022-09-02 12:04] #146 closed, assigned to multimeric

[2022-09-02 12:05] multimeric commented on #151
This is no longer relevant with the transition to slash commands (#159).

[2022-09-02 12:05] #151 closed, assigned to nobody

[2022-09-02 12:09] multimeric commented on #136
Okay apologies about the delay replying to this. I'm happy to make a distinction between "include all subrules" and "don't include subrules", but with the move to slash commands I'd like to make this explicit. I'm thinking we could just have a boolean option `includeSubrules` which does exactly that. The period syntax is concise, yes, but it's a bit too magic, and slash commands give us a nice UI

[2022-09-02 12:11] multimeric commented on #104
This is no longer relevant with the move to slash commands. Effectively the prefix is always going to be `/` from now on (and this is true for all bots). Eventually I'm sure discord will add some QOL improvements for this too.

[2022-09-02 12:11] #104 closed, assigned to nobody

[2022-09-02 21:33] EnoralTheOutCast opened #174 ""The application did not respond" when trying to search for cards from specific set."
I am not sure if it is supposed to not work but.
I tried to enter the following command "/card e:XLN" Just to try if it will give me cards from Ixalan set (can be any set, Ixalan is just an example here). On Scryfall it would. But when i tried to do it with Judgebot it just stuck on "judgebot is thinking" and doesn't respond.
And if i tried to specify the type like "/card t:instant e:xln" it did g

[2022-09-02 21:40] EnoralTheOutCast commented on #174
So if Judgebot fully supports Scryfall syntax, i should be able to just use the set tag and it should return the cards from that set.
But it doesn't.

[2022-09-03 00:16] multimeric commented on #174
Yes, it should work. I believe it's happening whenever you write a query with a very large number of results (100+). For the moment, try to avoid very general queries like that, but I'll try to work out a fix in the meantime.

[2022-09-03 04:46] multimeric commented on #174
Okay I think this is an upstream bug from https://github.com/ChiriVulpes/scryfall-sdk/issues/52. My guess is that the bot will hang whenever the query returns more than 75 results (which is the page size).

[2022-09-03 11:37] #174 closed, assigned to nobody

[2022-09-04 10:30] multimeric commented on #174
This fix has now been deployed, and seems to be working correctly.

[2022-10-11 05:59] lunakv opened #181 "Incorrect CR character encoding"
## What
If you look at the current output of the bot, it contains a bunch of malformatted characters. For example, all quotation marks are replaced with �.

## Why
The text version of the CR is published as a WINDOWS-1252 encoded string, but by the looks of it, the CR module tries to parse it as UTF-8, which causes issues for characters outside the standard ASCII range.

I'm not sure if VJ used to

[2022-11-02 11:58] lunakv commented on #181
Any update on this? It's a bit annoying to still see question boxes in almost every bot call.

[2022-11-02 12:22] multimeric commented on #181
What advantage would we gain from using Academy Ruins's parser? I'm tending towards just changing the input encoding at the moment.

[2022-11-02 12:50] lunakv commented on #181
They are slight, but the two that I see are
1. Not needing to do (most of) your own parsing. Granted, that may not *too* meaningful since the parsing is already implemented, but it could be seen as simplifying the project / deduplicating efforts, and would rid you of the hassles that arise in in managing your own code.
2. The API makes some guarantees about its output structure that the raw file d

[2022-11-15 16:31] lunakv commented on #181
*Speaking of stability...*

The new CR just dropped and apparently *now* the text file is in UTF-16BE! :facepalm:

[2022-11-15 21:50] lunakv commented on #181
Which, by the way, I just found out made this a much bigger deal, since instead of just some badly rendered quotation marks, the CR now apparently fully fails to parse, because UTF-16 just rolls that way. (At least that's what appears to have happened, all my `/cr` commands started to return "No Results" responses.)

[2022-11-16 02:32] multimeric commented on #181
That sucks. I guess if we start using Academy Ruins then at least Judgebot will be insulated from changes like that, and in the meantime Academy Ruins can implement a fix for the encoding?

[2022-11-16 07:25] lunakv commented on #181
I'm not quite sure what you mean by this? All content served by AR is already UTF-8 encoded, so there's no issue there. The reason this route isn't consistent is because it's just a basic 307 redirect pointing to WotC's servers, so I have really no control over what ultimately gets returned.

If you want a band-aid fix for now, I would suggest you either temporarily change the parser to load the f

[2022-11-16 22:38] multimeric commented on #181
How can AR both be UTF-8 encoded and just be a 307 redirect to Wizards? Surely only one of these is true.

[2022-11-16 23:16] lunakv commented on #181
Let me clarify. All *content* responses served by AR (the parsed rules, glossary, raw text files, etc.) are in UTF-8. The `/link` routes specifically don't follow this rule, because they do not serve any AR-hosted content, but simply redirect to other sites.

[2022-11-17 16:26] lunakv opened #184 "[Question] Branches"
I just noticed that there are two branches, `develop` and `master`. Based on past pull requests, am I correct in assuming the production server is run off of `master` and new changes should be merged from feature branches into `develop` first, and only from there is `master` updated? It's not written down anywhere, so I'm left guessing.

[2022-11-17 16:29] lunakv commented on #181
This is also spelled out in the [API docs](https://api.academyruins.com/docs#section/Response-Encoding-and-Formatting), but if you feel the docs are unclear, I would very much appreciate any suggestions on what to clarify.

[2022-11-17 16:33] lunakv commented on #184
Oh, just noticed your comment under my PR :slightly_smiling_face: Sorry, will keep that in mind for future PRs. It would be nice to write this down in the README somewhere though.

[2022-11-17 16:33] #184 closed, assigned to nobody

[2022-11-17 22:39] multimeric commented on #184
Your understanding is correct.